body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#header {
    background-color: #f0f0f0;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-transform: uppercase;
}

#about {
    margin-top: 20px;
}

#profile-pic {
    border: 2px solid black;
    width: 200px;
    height: auto;
}

#description {
    font-family: Verdana;
    font-size: 18px;
}

#links {
    margin-top: 10px;
}

.work-sample {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

.work-sample img {
    width: 200px;
    height: auto;
}

.work-sample ul {
    list-style: none;
}

#footer {
    background-color: #333;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
